################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureKeyVaultUtils/obj
/AzureKeyVaultUtils/bin/Debug/net6.0
